*{
    margin: 0px;
    padding: 0px;
}
/* html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  };
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
 };  */

body{
     background-color: rgb(228, 234, 240);
     background: url(images/nasa.jpg)no-repeat center center fixed;
     background-size:cover;
     font-family: cursive;
     
}
.main-section{
    margin: 0 auto;
    margin-top:25%;
    padding: 0;
    
}
.modal-content{
    padding: 0 20px;
    box-shadow:0 0 5px rgb(26, 45, 65) ;
    background-color: rgb(129, 169, 221);
    opacity:0.8;
    
}   
.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
    
    

}
.user-img img{
   width:100px;
   height: 100px;
}

.menu{
	width: 100%;
	height: 100vh;
	top: 50px;
    display: flex;
}

.icons{
    width:50px;
    height: 50px;
    box-shadow:0 0 5px rgb(216, 222, 231) ;
    margin-top: 15px;
    border-radius: 50px;
    
};
.text{
    box-shadow:0 0 5px rgb(235, 241, 248) ;
    background-color: black; 
}
.create-account{
    
    margin-top: 38px;
    margin-bottom: 15px;
    font-size: 18px;
}
.formulario{
    margin-top: 35px;
    margin-bottom: 30px;
}
.divText{
 margin-bottom: 15px;
 margin-top: 40px;
 font-size: 18px;
 font-family: cursive;
 
}
.TxtArea{
    font-size: 20px;
    /*font-family: fantasy;*/
    padding-left:20px;
    padding-right: 10px;
    box-shadow:0 0 5px rgb(79, 84, 90) ;
    border-radius: 6px;
}
.main-section{
    margin-top: 50px;
}
/*.divShowPost{
    background-color: rgba(226, 217, 96, 0.26);
    font-size: 21px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: cursive;
    border-radius: 6px;
    box-shadow:0 0 5px rgb(235, 241, 248) ;
   
}
*/
.divShowPost{
    
 background-color: rgba(240, 250, 246, 0.158);
 border-radius: 7px;
 box-shadow:0 0 5px rgb(235, 241, 248) ;
 padding-left: 20px;
 padding-top: 20px;
font-size: 18px;
}
.divTextPost{
    height:60px;
   /* background-color:rgba(255, 255, 255, 0.26) ;*/
    border-radius: 6px;
}
.divDeleteAndEdit{
    /*background-color: rgba(216, 191, 216, 0.205);*/
    border-radius: 6px;
    
}
.edit{
    height: 30px;
    width:80px;
    margin-left:15px; ;
}
.trash{
    height: 30px;
    width:80px;


}
.userFoto{
    width: 40px;
    height: 40px;
   
}
/*.divFotoNameEdite{
  background-color: rgba(216, 191, 216, 0.295);
  
}*/
.perfil{
    background-color: rgba(204, 202, 201, 0.096);
    margin-top: 25px;
    height:200px ;
    border-radius: 6px;
    box-shadow:0 0 5px rgb(235, 241, 248) ;

}
.noticeOthers{
    
    margin-top: 25px;
    height:100px ;
}
.divFotoAndName{
   /* background-color: rgba(0, 128, 128, 0.753);*/
    font-family:cursive;
    font-size: 18px;
}
.showPostUserPhoto{
    width:30px;
    height: 30px;
}
.divShowMyPosts{
    
    margin-top: 15px;
    
    
}  