*{
    margin: 0px;
    padding: 0px;
}
/* html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  };
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
 };  */

body{
     background-color: rgb(228, 234, 240);
     background: url(images/nasa.jpg)no-repeat center center fixed;
     background-size:cover;
     font-family: cursive;
     
}
.main-section{
    margin: 0 auto;
    margin-top:25%;
    padding: 0;
    
}
.modal-content{
    padding: 0 20px;
    box-shadow:0 0 5px rgb(26, 45, 65) ;
    background-color: rgb(129, 169, 221);
    opacity:0.8;
    
}   
.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
    
    

}
.user-img img{
   width:100px;
   height: 100px;
}

.menu{
	width: 100%;
	height: 100vh;
	top: 50px;
    display: flex;
}

.icons{
    width:50px;
    height: 50px;
    box-shadow:0 0 5px rgb(216, 222, 231) ;
    margin-top: 15px;
    border-radius: 50px;
    
};
.text{
    box-shadow:0 0 5px rgb(235, 241, 248) ;
    background-color: black; 
}
.create-account{
    
    margin-top: 38px;
    margin-bottom: 15px;
    font-size: 18px;
}
.formulario{
    margin-top: 35px;
    margin-bottom: 30px;
}
.divText{
 margin-bottom: 15px;
 margin-top: 40px;
 font-size: 18px;
 font-family: cursive;
 
}
.TxtArea{
    font-size: 20px;
    margin-top: 6px;
    padding-left:20px;
    padding-right: 10px;
    box-shadow:0 0 5px rgb(79, 84, 90) ;
    border-radius: 6px;
    height: 100px;
    width: 450px;
}
.divPost{
    margin-top: 50px;
    box-shadow:0 0 5px rgb(54, 59, 65);
}

.divShowPost{
    
 background-color: rgba(240, 250, 246, 0.158);
 border-radius: 7px;
 box-shadow:0 0 5px rgb(235, 241, 248) ;
 padding-left: 20px;
 padding-top: 20px;
font-size: 18px;
}
.divTextPost{
    height:60px;
   /* background-color:rgba(255, 255, 255, 0.26) ;*/
    border-radius: 6px;
}
.divDeleteAndEdit{
    /*background-color: rgba(216, 191, 216, 0.205);*/
    border-radius: 6px;
    
}
.edit{
    height: 30px;
    width:80px;
    margin-left:15px; ;
}
.trash{
    height: 30px;
    width:80px;


}
.userFoto{
    width: 40px;
    height: 40px;
   
}
.divFotoNameEdite{
  /*background-color: rgba(245, 122, 169, 0.295);*/
  margin-right: 15px;
  border-radius: 6px;
  box-shadow:0 0 5px rgb(54, 59, 65);
  height: 150px;

}
.perfil{
   /* background-color: rgba(204, 202, 201, 0.096);*/
    margin-top: 50px;
    margin-right: 25px;
    height:200px ;
    border-radius: 6px;
   /* box-shadow:0 0 5px rgb(235, 241, 248) ;*/

}
.noticeOthers{
   /* background-color: rgba(0, 128, 128, 0.753);*/
    box-shadow:0 0 5px rgb(235, 241, 248);
    border-radius:6px ;
    margin-top: 50px;
    margin-left: 15px;
    
}
.divFotoAndName{
    /*background-color: rgba(0, 128, 128, 0.753);*/
    margin-bottom: 20px;
    margin-left: 8px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
.showPostUserPhoto{
    width:30px;
    height: 30px;
}
.divShowMyPosts{   
    margin-top: 15px; 
}  
.img1{
    margin-bottom: 15px;
}
.img2{
    margin-bottom: 15px;
}
.divExitEdit{
    /*background-color: rgba(216, 191, 216, 0.719);*/
    height:40px;
    margin-bottom: 10px;
}
.iconoLogOut{
    width: 50px;
    height: 50px;
    margin-left:105px;
}
.iconoLogOut:hover{
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
}
.editarPerfil{
  margin-left: 10px;
}

.flip-card {
  background-color: transparent;
  width: 280px;
  height: 280px;
  perspective: 1000px;
  margin-bottom: 20px;
  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color:rgba(211, 150, 219, 0.11);
  /*color: black;*/
  
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}


